<html>
  <head>
    
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Admin Home</h1>
          
          <button class="btn btn-primary" onclick="window.location.href = '/login';">Logout</button>
        </div>
      </div>
    </div>
    <div id="info">
      <h1 onclick="showcustomer()"> Total Customers: <%= customerno %></h1>
        <h1 onclick="showseller()"> Total Sellers: <%= sellerno %></h1>
        <h1 onclick="showorders()"> Total Orders: <%= orderno %></h1>
        <h1 onclick="showproducts()"> Total Products: <%= productno %></h1>
        <h1 onclick="showlogs()"> Total Logs: <%= logno %></h1>
    </div>

    <div class="productstable" style="display: none;">
      <h1>Products</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            <th>Product Description</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < products.length; i++) { %>
            <tr>
              <td><%= products[i].PRODUCT_ID %></td>
              <td><img src="../images/product/<%= products[i].PRODUCT_IMAGE %>" alt="Product Image" style="width: 100px; height: 100px;"></td>
              <td><%= products[i].PRODUCT_NAME %></td>
              <td><%= products[i].PRICE %></td>
              <td><%= products[i].STOCK_QUANTITY %></td>
              <td><%= products[i].DESCRIPTION %></td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
    <div class="productstable" style="display: none;">
      <h1>Orders</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Product ID</th>
            <th>Order Date</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < orders.length; i++) { %>
            <tr>
              <td><%= orders[i].ORDER_ID %></td>
              <td><%= orders[i].USER_ID %></td>
              <td><%= orders[i].PRODUCT_ID %></td>
              <td><%= orders[i].CONFIRMATION_TIME %></td>
              <td><%= orders[i].DELIVERY_STATUS %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      </div>
      <div class="productstable" style="display: none;">
        <h1>Sellers</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Seller ID</th>
              <th>Seller Name</th>
              <th>Seller Email</th>
              <th>Seller Phone</th>
              <th>Seller Revenue</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < sellers.length; i++) { %>
              <tr>
                <td><%= sellers[i].SHOP_ID %></td>
                <td><%= sellers[i].SHOP_NAME %></td>
                <td><%= sellers[i].EMAIL %></td>
                <td><%= sellers[i].PHONE %></td>
                <td><%= sellers[i].TOTAL_REVENUE %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        </div>
        <div class="productstable">
          <h1>Customers</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer Phone</th>
                <th>Join Date</th>
                <th> Gender</th>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < customers.length; i++) { %>
                <tr>
                  <td><%= customers[i].USER_ID %></td>
                  <td><%= customers[i].NAME %></td>
                  <td><%= customers[i].EMAIL %></td>
                  <td><%= customers[i].PHONE %></td>
                  <td><%= customers[i].DATE_JOINED %></td>
                  <td><%= customers[i].GENDER %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          </div>
      <div class="productstable" style="display: none;">
        <h1>Logs</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Log Function</th>
              <th>Log User</th>
              <th>Log CallTime</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < logs.length; i++) { %>
              <tr>
                <td><%= logs[i].FUNCTION_NAME %></td>
                <td><%= logs[i].USER %></td>
                <td><%= logs[i].CALL_TIME %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        </div>
        
  </body>

  <script>
    async function showseller(){
      document.getElementsByClassName('productstable')[0].style.display = 'none';
      document.getElementsByClassName('productstable')[1].style.display = 'none';
      document.getElementsByClassName('productstable')[2].style.display = 'block';
      document.getElementsByClassName('productstable')[3].style.display = 'none';
      document.getElementsByClassName('productstable')[4].style.display = 'none';

    }
    async function showcustomer(){
      document.getElementsByClassName('productstable')[0].style.display = 'none';
      document.getElementsByClassName('productstable')[1].style.display = 'none';
      document.getElementsByClassName('productstable')[2].style.display = 'none';
      document.getElementsByClassName('productstable')[3].style.display = 'block';
      document.getElementsByClassName('productstable')[4].style.display = 'none';

    }
    async function showorders(){
      document.getElementsByClassName('productstable')[0].style.display = 'none';
      document.getElementsByClassName('productstable')[1].style.display = 'block';
      document.getElementsByClassName('productstable')[2].style.display = 'none';
      document.getElementsByClassName('productstable')[3].style.display = 'none';
      document.getElementsByClassName('productstable')[4].style.display = 'none';


    }
    async function showproducts(){
      document.getElementsByClassName('productstable')[0].style.display = 'block';
      document.getElementsByClassName('productstable')[1].style.display = 'none';
      document.getElementsByClassName('productstable')[2].style.display = 'none';
      document.getElementsByClassName('productstable')[3].style.display = 'block';
      document.getElementsByClassName('productstable')[4].style.display = 'none';

    }
    async function showlogs(){
      document.getElementsByClassName('productstable')[0].style.display = 'none';
      document.getElementsByClassName('productstable')[1].style.display = 'none';
      document.getElementsByClassName('productstable')[2].style.display = 'none';
      document.getElementsByClassName('productstable')[3].style.display = 'none';
      document.getElementsByClassName('productstable')[4].style.display = 'block';

    }
    
      
  </script>
  <style>
    #info{
      margin-top: 100px;
      text-align: center;
      box-sizing: border-box;
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;

    }

    #info h1{
      margin: 10px;
    }

    #info h1:nth-child(odd){
      background-color: #f2f2f2;
    }

    #info h1:hover{
      background-color: #02a8f3;
      color: rgb(215, 252, 7);
    }
    .productstable{
      margin-top: 100px;
      text-align: center;
      box-sizing: border-box;
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;

    }

    .productstable h1{
      text-align: center;

    }
    .productstable table{
      margin-top: 20px;
      
    }
    .productstable table th{
      text-align: center;

    }
    .productstable table td{
      text-align: center;
      background-color: antiquewhite;
      padding: 15px;

    }
    .productstable table img{
      border-radius: 10px;
    }
    

  </style>
</html>