<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../styles/CardStyle.css" rel="stylesheet">
    <link href="../styles/FilterStyle.css" rel="stylesheet">

</head>
<body class="card-body">
    
            <div style="margin: 2px;"  >
                <a href="<%= link %>/product/<%= id %>">
                <div class="card" style="width: 250px; height:auto;display: inline-block; border-radius: 10px; border-color: sienna;">
                    <img src="<%= image %>" style="width: 180px; height: 150px; margin-left: auto; margin-right: auto;" class="card-img-top" alt="...">
                    <script>
                        var img = document.querySelector('.card-img-top');
                        img.src =  `<%= image %>`;
                        img.alt = '<%= id %>';
                        
                        
                        </script>
                    <div class="card-body">
                        <% if (PRODUCT_NAME.length > 45) { %>
                            <h6 class="card-title"><%= PRODUCT_NAME.substring(0, 45) %>...</h6>
                            <% } else { %>
                                <h6 class="card-title"><%= PRODUCT_NAME %></h6>
                            <% } %>
                            <p style="display: block;" class="card-text"><%= SHOP_NAME %></p> 
                            <s class="striked" style="margin-left: 8px; font-size: small;" ><%= PRODUCT_PRICE %> ৳ </s> 
                            <% if (DISCOUNT > 0) { %>
                            <span class="badge bg-success" id="disc" style=" font-size: small; margin-left: 50px;"><%= DISCOUNT %> % off</span>
                            <% } %>
                        </div>
                            <div class="mb-5 d-flex justify-content-around">
                                <b class = "price"><%= PRODUCT_PRICE - (PRODUCT_PRICE * DISCOUNT/100) %> ৳</b>
                            </a>
                            <br>
                            <% if (STOCK > 0) { %>
                                <button  onclick="addtocart('<%= id%>')" class="addcart">Add to Cart</button>
                            <% } else { %>
                                <strong> Out of Stock</strong>
                            <% } %>

                                
                            </div>
                        </div>
                </div>
            
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script>
            async function addtocart(id){
                // var form = await document.createElement('form');
                // form.method = 'post';
                // var url = '<%= link%>/addCart/'+id;
                // form.action = url;
                // document.body.appendChild(form);
                // form.submit();
                await fetch('<%= link%>/addCart/'+id, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({id: id})
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data.success==true){
                        // alert('Added to cart');
                    }
                    else{
                        alert('Failed to add to cart');
                    }
                });

            }
        </script>
</body>

</html>