<!-- cart.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../styles/CartStyle.css">
    <link rel="stylesheet" href="/../styles/HomeStyle.css">
    <title>Shopping Cart</title>
</head>
<header>
    <!-- Your navbar code here -->
    <div class="navbar">
        <a href="/home/<%=userid%>" id="homelink">Home</a>
        <a href="#">Products</a>
        <a href="#">Shops</a>
        <a href="#">New Items</a>
        <input type="text" id="searchbox" placeholder="Search">
        <script>
            // Get the input field
            var input = document.getElementById("searchbox");
            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    var url = 'search?search=' + input.value;
                    window.location.href = url;
                }
            });
        </script>
        <div >
            <div class="profile-dropdown" style=" background-color:#ddd;">
                <a onclick="link_to_profile()" id="profile-link" href="#" >Profile</a>
                <a href="#">Orders</a>
                <a href="#">Wishlist</a>
                <a href="/<%= userid%>/cart">Cart</a>
                <a href="/login">Logout</a>
            </div>
        </div>
    </div>
</header>
<body id="cart-body">
    <div class="cart">
        <h1>Your Shopping Cart</h1>
        <div id="cart-items">
            <% for (let item of products) { %>
                <div class="cart-item">
                    <div class="item-details">
                        <a href="/user/<%= userid %>/product/<%= item.PRODUCT_ID %>">
                            <img src="/../images/product/<%= item.PRODUCT_IMAGE %>" alt="<%= item.PRODUCT_IMAGE%>" class="product-image">  
                        <h3><%= item.PRODUCT_NAME %></h3>
                        </a>
                        <p><%= item.PRODUCT_PRICE %> USD</p>
                        <form id="pform<%= item.PRODUCT_ID %>" action="/user/<%= userid %>/deleteCart/<%= item.PRODUCT_ID %>" method="delete">
                        <p>Quantity: 
                            <button class="cart-button" type="button" onclick="ChangeQuantity('<%= item.PRODUCT_ID %>', '<%= item.QUANTITY %>',1)">-</button>
                            <%= item.QUANTITY %>
                            <button class="cart-button" type="button" onclick="ChangeQuantity('<%= item.PRODUCT_ID %>', '<%= item.QUANTITY %>',0)">+</button>
                        </p>
                            <input type="hidden" name="productid" value="<%= item.PRODUCT_ID %>">
                            <input type="hidden" name="quantity" value=" <%= item.QUANTITY %>">
                            <input type="hidden" name="_method" value="delete">
                            <button class="cart-button" onclick="removeproduct()">Remove</button>
                        </form>

                        <!-- <button onclick="removeItem('<%= item.PRODUCT_ID %>')">Remove</button> -->
                    </div>
                </div>
            <% } %>
        </div>
        <div class="summary">
            <h2>Order Summary</h2>
            <hr class="cart-hr">
            <p>Sub Total: <%= cost %> USD</p>
            <% if (cost==0) { %>
                <p>Shipping: 0 USD</p>
                <hr class="cart-hr">
            <p>Total: <%= cost  %> USD</p>
            <% } else if (cost<100000) { %>
                <p>Shipping: 50 USD</p>
                <hr class="cart-hr">
            <p>Total: <%= cost + 50 %> USD</p>
            <% } else { %>
                <p>Shipping: Free</p>
                <hr class="cart-hr">
            <p>Total: <%= cost %> USD</p>
            <% } %>

        </div>
        <button onclick="checkout()">Checkout</button>
    </div>

    <script>
        // JavaScript functions to interact with the cart
    //     async function removeItem(itemId) {
    //         // Implement removal logic (update cartItems array and refresh the view)
    //         const response = await fetch(`/user/${userid}/deleteCart/${itemId}`, {
    //     method: 'get'
    // });

    // if (!response.ok) {
    //     console.error('Failed to remove item from cart');
    //     return;
    // }
    //     }
    async function removeproduct(){
        var form = document.getElementById('pform');
        form.submit();
    }

        async function ChangeQuantity(productid, quantity, type) {
                // window.location.href = `user/${userid}/product/${id}`;
                // window.location.reload();
                if (type == 1 && quantity == 1) {
                    await removeproduct();
                    return;
                }
                var form = await document.createElement('form');
                form.method = 'post';
                var prod_id_field = await document.createElement('input');
                prod_id_field.type = 'hidden';
                prod_id_field.name = 'productid';
                prod_id_field.value = productid;
                form.appendChild(prod_id_field);
                var quantity_field= await document.createElement('input');
                quantity_field.type = 'hidden';
                quantity_field.name = 'quantity';
                quantity_field.value = quantity;
                form.appendChild(quantity_field);
                var typefield= await document.createElement('input');
                typefield.type = 'hidden';
                typefield.name = 'type';
                typefield.value =type;
                form.appendChild(typefield);
                form.action = '/user/<%= userid %>/updateCart/';
                document.body.appendChild(form);
                form.submit();
        }

        

        async function checkout() {
            
        }
    </script>

</body>
</html>
