<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="/filter/../styles/FilterStyle.css" rel="stylesheet" type="text/css">
    <link  href="/filter/../styles/HomeStyle.css" rel="stylesheet" type="text/css">
</head>
<header class="header">
    <div class="grid">
        <div class="row">
            <div class="col-12">
                <!-- Navbar -->
                <nav class="header__navbar">
                  <div class="header__logo">
                    <a href="#" class="header__logo-link">
                        <img src="/../images/login/vmart_ventures_main_black_poster.jpeg" alt="Vmart Ventures"
                        class="header__logo-img">
                    </a>
                </div>
                    <ul class="header__navbar-apps__list">
                    </ul>
                    <ul class="header__navbar-login__list">
                        
                      <li class="header__navbar-login__item">
                        <a class="header__navbar-login__link" href="/home/<%= userid %>"> 
                            <i class="header__navbar-login__icon fas fa-question-circle"></i>
                            Home
                        </a>
                    </li>
                        <li class="header__navbar-login__item">
                            <a class="header__navbar-login__link" href="/user/<%= userid %>/search?search=">
                                <i class="header__navbar-login__icon fas fa-question-circle"></i>
                                Products
                            </a>
                        </li>
                        <li class="header__navbar-login__item">
                          <a class="header__navbar-login__link" href="#">
                              <i class="header__navbar-login__icon fas fa-question-circle"></i>
                              Shops
                          </a>
                      </li>
                      <li class="header__navbar-login__item">
                          <a href="/user/<%= userid %>/cart"
                           id="info-wrap" ><i class="uil uil-shopping-cart icon"></i>Cart</a>
                      </li>
                      
                        <li class="header__navbar-myaccount header__navbar-login__item">
                            <a class="header__navbar-login__link" href="#">
                                <img src="https://assets.codepen.io/5411766/user_icon.jpg" alt=""
                                    class="header__navbar-login__img">
                                <span class="header__navbar-login__user">
                                    <%= Name %>
                                </span>
                            </a>
                            <div class="header__navbar-account">
                                <ul class="header__navbar-account__list">
                                    <li class="header__navbar-account__item">
                                        <a href="/user/<%= userid %>" 
                                         class="header__navbar-account__link">
                                            My Profile
                                        </a>
                                    </li>
                                    <li class="header__navbar-account__item">
                                        <a href="/order/<%= userid %>"
                                         class="header__navbar-account__link">
                                            My Orders
                                        </a>
                                    </li>
                                    <li class="header__navbar-account__item">
                                        <a href="#" class="header__navbar-account__link">
                                            My Wishlist
                                        </a>
                                    </li>
                                    <li class="header__navbar-account__item">
                                        <a href="/login"
                                         class="header__navbar-account__link">
                                            Logout
                                        </a>
                                       
                                    </li>
                                    
                                    
                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End Navbar -->
                <!-- Search -->
                
                <!-- End Search -->
            </div>
        </div>
    </div>
</header>

<body>
        <input type="text" id="searchbox" placeholder="Search">
        <script>
            // Get the input field
            var input = document.getElementById("searchbox");
            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    var url = '/<%=link%>/search?search=' + input.value;
                    window.location.href = url;
                }
            });
        </script>
    
    

    </header> 
    <h1>Your filter Results</h1>
    <div class="filter-box">
        
    <label for="price-filter" style="font-size: large;">Filter selected:</label>
    <div class="filter-info">
        <% if (PU!=0) { %>
            <p>Price: 0 - <%= PU %></p>
        <% } %>
        <% if (CatID) { %>
            <p>Category: <%= CatID %></p>
        <% } %>
    </div>
        <% if (products.length == 0) { %>
        <h1 style="text-align: center;">No Products Found</h1>
        <% } else{ %>
            <h1 style="text-align: left; display: block;">Products</h1>
    </div>
            
        <div class="product-section">
            <% for (var i = 0; i < products.length; i++) { %>
                <div style="margin: 2px;" class="card-box"  >
                    <a href="/<%= link %>/product/<%= products[i].PRODUCT_ID %>" style="text-decoration: none;">
                        <div class="card" >
                            <img src="/../images/product/<%= products[i].PRODUCT_IMAGE%>" class="card-img-top" alt="...">
                            <script>
                                var img = document.querySelector('.card-img-top');
                                img.alt = '<%= products[i].PRODUCT_ID %>';
                            </script>
                            <div class="card-body">
                                <% if (products[i].PRODUCT_NAME.length > 45) { %>
                                    <h6 class="card-title" >
                                        <%= products[i].PRODUCT_NAME.substring(0, 45) %>...
                                    </h6>
                                <% } else { %>
                                    <h6 class="card-title
                                    "><%= products[i].PRODUCT_NAME %></h6>
                                <% } %>
                                <p style="display: block;" class="card-text"><%= products[i].SHOP_NAME %></p>
                                <s class="striked-price" style="margin-left: 8px;" ><%= products[i].PRODUCT_PRICE %> ৳ </s>
                                <span class="disc" id="disc" style="margin-left: 50px;">10% off</span>
                            </div>
                            <div class="mb-5 d-flex justify-content-around">
                                <b class = "price"><%= products[i].PRODUCT_PRICE - (products[i].PRODUCT_PRICE * 0.1) %> ৳</b>
                            </a>
                            <br>
                            <% if (products[i].PRODUCT_STOCK > 0) { %>
                                <button onclick="addtocart('<%= products[i].PRODUCT_ID%>')" class="btn-primary">Add to Cart</button>
                                <% } else { %>
                                    <strong class="no-stock"> Out of Stock</strong>
                            <% } %>
                                </div>
                            </div>
                </div>           
            <% } %>
        <% } %>
        <script>
            async function addtocart(id){
                // var form = await document.createElement('form');
                // form.method = 'post';
                // form.action = '/<%= userid %>/addCart/'+id;
                // document.body.appendChild(form);
                // form.submit();
                await fetch('/<%= link %>/addCart/'+id, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({id: id})
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data.success==true){
                        alert('Added to cart');
                    }
                    else{
                        alert('Failed to add to cart');
                    }
                });

            }
        </script>
        <br>
    </div>
</body>
</html>