<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce Home Page</title>
    <link rel="stylesheet" href="../styles/HomeStyle.css">
</head>
<body>
    <!-- <% var userID= 'user/1' %> -->
    <div class="navbar">
        <a href="#" id="homelink">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
        <a href="#">Contact</a>


        <input type="text" id="searchbox" placeholder="Search">
        <script>
            // Get the input field
            var input = document.getElementById("searchbox");
            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    window.location.href = "/search/" + input.value;
                }
            });
        
        </script>

        <div >
            
            <a style="margin-left: auto; float: right;"  href="#">Hello <%= Name %> </a>
            <a style="margin-left: auto; float: right;" href="#">Phone <%= Phone %> </a>
            <!-- <img src="../images/login/arafatFB.jpg" style="width: 80px; border-radius: 50px;" alt="Avatar" class="profile-image"> -->
                <div class="profile-dropdown" style=" background-color:#ddd;">
                    <a onclick="link_to_profile()" id="profile-link" href="#" >Profile</a>
                    <a href="#">Orders</a>
                    <a href="#">Wishlist</a>
                    <a href="#">Settings</a>
                    <a href="/login">Logout</a>
                </div>
    </div>

    </div>

    <aside style="float: inline-start;">
        <h3 id="cat_header" onclick="getCategories()" >Categories</h3>
        <ul id="unordered">
             <% for (var i = 0; i < categories.length; i++) { %>
                <li class="list" id="list" ><%= categories[i].CATEGORY_NAME %></li>
            <% } %>
        </ul >
        
    </aside>

    <div class="product-section">
        <% for (var i = 0; i < products.length; i++) { %>
            <%- include("card", {PRODUCT_NAME: products[i].PRODUCT_NAME, SHOP_NAME: products[i].SHOP_NAME, PRODUCT_PRICE: products[i].PRODUCT_PRICE, image : products[i].PRODUCT_IMAGE}) %>

        <% } %>

        <br>
    </div>
    <h3>Filter</h3>
    <label >
        <input type="checkbox" id="filter_price" name="priceUnder5000" >
        Price Under 5000
    </label>
    <br>

    <label for="categoryId">Select Category:</label>
    <select name="categoryName" id="categoryId">
        <% categories.forEach(category => { %>
            <option value="<%= category.CATEGORY_ID %>"><%= category.CATEGORY_NAME %></option>
        <% }); %>
    </select>
    <button id="filter" type="submit">Filter</button>
    <br>

    <%- include("footer") %>

    <label style="display: none;" id="testurl" for="searchbox"> <%= link%> </label>
    
    <script>
        var filter_price = document.getElementById('filter_price');
        var categoryId = document.getElementById('categoryId');
        var filter = document.getElementById('filter');

        filter.addEventListener('click', function () {
            var url = '/filter?';

            if (filter_price.checked) {
                url += 'priceUnder5000=true';
            } else {
                url += 'priceUnder5000=false';
            }

            if (categoryId.value) {
                url += '&categoryId=' + categoryId.value;
            }

            // Set the window location
            window.location.href = url;
        });

        // Get the product data from the server
        
        // Get the profile link
        const link_to_profile =()=>
        {

            var profileLink = document.getElementById('profile-link');
            // Get the user ID from the URL
            // Set the href of the profile link to the user ID
            var url = document.getElementById('testurl').innerHTML;
            profileLink.href = url;
            // document.getElementById('homelink').href = url;
        }

    </script>
        
</body>
</html>
