<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>Seller Profile</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: white;
            /* Optional: Background color for the page */
        }

        .glass-box {
            display: flex;
            position: relative;
            width: 900px;
            /* Adjust the width as needed */
            height: 600px;
            /* Adjust the height as needed */
            background-color: white;
            box-shadow: 5px 5px 5px 3px rgba(2, 4, 0, 0.1);
            /* Box shadow for the glass effect */
            backdrop-filter: blur(1000px);
            /* Blur for the frosted glass effect */
            overflow: hidden;
            /* Ensure the content does not overflow outside the glass-box */
            border-radius: 10%;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 175px;
            height: 100%;
            padding: 20px;
            background-color: black;
            color: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 1;
            /* Ensure the sidebar is above the glass-box content */
        }

        .sidebar-text {
            font-family: Roboto;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 10px;
            font-size: 17px;
        }

        .sidebar-text:hover {
            color: blue;
        }

        .HeadLine {
            margin-left: 330px;
            padding: 40px;
        }

        .formContent {
            flex-grow: 1;
            padding: 20px;
            margin-left: 240px;
        }

        .FormAttribute {
            padding: 7px;
            margin-left: 300px;
        }

        .FormInputBox {
            margin-left: 10px;
        }

        .btn-primary {
            padding: 10px;
            margin-top: 20px;
            margin-left: 430px;
            width: 190px;
        }

        .sidebar-logo {
            width: 100%;
            /* Make the image fill the entire width of the sidebar */
            max-height: 100px;
            /* Set a maximum height for the image */
            margin-bottom: 20px;
            /* Adjust as needed for spacing */
        }
    </style>
</head>

<body>

    <div class="glass-box">

        <div class="sidebar">
            <img src="#" alt="Your Logo" class="sidebar-logo">

            <div class="sidebar-text" href="/seller_authorize/<%= SHOP_NAME %>/<%= SHOP_ID %>">Your Profile</div>
            <div class="sidebar-text" href="/products/<%= SHOP_NAME %>/<%= SHOP_ID %>">Your Products</div>
            <div class="sidebar-text" href="/addproducts/<%= SHOP_NAME%>/<%= SHOP_ID%>">Add New Product</div>
            <div class="sidebar-text" href="#">Most Valued Products</div>
            <div class="sidebar-text" href="#">Change Password</div>
        </div>

        <div>
            <h2 class="HeadLine">Product Information</h2>

            <form action="/addproducts/<%= SHOP_NAME %>/<%= SHOP_ID%>" method="post">

                <div class="FormAttribute">
                    <label for="productName">Product Name:- </label>
                    <input type="text" class="FormInputBox" name="productname" id="productName" required>
                </div>

                <div class="FormAttribute">
                    <label for="productdescrip">Description:- </label>
                    <input type="text" class="FormInputBox" id="productdescrip" name="productDescrip"
                        required></textarea>
                </div>

                <div class="FormAttribute">
                    <label for="category">Category:- </label>
                    <select class="FormInputBox" id="category" name="Category" required>
                        <option value="" disabled selected>Select a category</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Software and Apps">Software and Apps</option>
                        <option value="Video Games and Consoles">Video Games and Consoles</option>
                        <option value="Home Appliances">Home Appliances</option>
                        <option value="Automobiles and Mototbikes">Automobiles and Mototbikes</option>
                        <option value="Mother and Baby">Mother and Baby</option>
                        <option value="Sports and Outdoor">Sports and Outdoor</option>
                        <option value="Womens fashion">Womens fashion</option>
                        <option value="Mens fashion">Mens fashion</option>
                        <option value="Books and Stationary">Books and Stationary</option>
                        <option value="Home and Lifestyle">Home and Lifestyle</option>
                        <option value="Health and Personal Care">Health and Personal Care</option>
                    </select>
                </div>

                <div class="FormAttribute">
                    <label for="productprice">Price:- </label>
                    <input type="number" class="FormInputBox" id="productprice" name="productPrice" required>
                </div>

                <div class="FormAttribute">
                    <label for="productquantity">Quantity:- </label>
                    <input type="number" class="FormInputBox" id="productquantity" name="productQuantity" required>
                </div>

                <div class="FormAttribute">
                    <label for="promocode">Promo Code:- </label>
                    <input type="text" class="FormInputBox" id="promocode" name="promoCode">
                </div>

                <div class="FormAttribute">
                    <label for="productimage">Product Image:- </label>
                    <input type="file" class="FormInputBox" id="productimage" name="productImage">
                </div>

                <button type="submit" class="btn btn-primary btn-block">Add Product</button>
            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

<script>
</script>

</html>