<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.PRODUCT_NAME %> - Product Description</title>
    <!-- Bootstrap CSS -->
    <link href="/../styles/HomeStyle.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Your custom styles or additional head content here -->
</head>
<header>
    <!-- Your navbar code here -->
    <div class="navbar">
        <a href="/home/<%=userid%>" id="homelink">Home</a>
        <a href="#">Products</a>
        <a href="#">Shops</a>
        <a href="#">New Items</a>
        <input type="text" id="searchbox" placeholder="Search">
        <script>
            // Get the input field
            var input = document.getElementById("searchbox");
            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    var url = '/user/<%=userid%>/search?search=' + input.value;
                    window.location.href = url;
                }
            });
        </script>
        <div>
            <div class="profile-dropdown" style=" background-color:#ddd;">
                <a href="/user/<%=userid%>" id="profile-link" href="#" >Profile</a>
                <a href="#">Orders</a>
                <a href="/wishlist/<%=userid%>">Wishlist</a>
                <a href="/user/<%= userid%>/cart">Cart</a>
                <a href="/login">Logout</a>
            </div>
        </div>
    </div>
</header>

<body>

    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-6">
                <img id="prodImg" src="/images/product/<%= product[0].PRODUCT_IMAGE %>" alt="<%= product[0].PRODUCT_IMAGE %> Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1><%= product[0].PRODUCT_NAME %></h1>
                <p><strong>Seller:</strong> <%= product[0].SHOP_NAME %></p>
                <p><strong>Description:</strong> <%= product[0].PRODUCT_DESCRIPTION %></p>
                <p><strong>Price:</strong> $<%= product[0].PRODUCT_PRICE %></p>
                <% if (product[0].DISCOUNT > 0) { %>
                    <p><strong>Discount:</strong> <%= product[0].DISCOUNT %>% off</p>
                    <p><strong>Final Price:</strong> $<%= (product[0].PRODUCT_PRICE - (product[0].PRODUCT_PRICE * product[0].DISCOUNT / 100)) %></p>
                <% } %>
                
                <!-- Add more details as needed -->
                <% if (product[0].PRODUCT_STOCK > 0) { %>
                    <p><strong>Stock:</strong> Available</p>
                    <button class="btn btn-primary" onclick="addtocart('<%=product[0].PRODUCT_ID%>')">Add to Cart</button>
                <% } else { %>
                    <p><strong>Stock:</strong> Out of Stock</p>
                <% } %>
                <button class="btn btn-primary" id="wl-btn" onclick="addtowishlist('<%=product[0].PRODUCT_ID%>')" >Add to WishList</button>
                
            </div>
        </div>
    </div>

    <div class="show-review-container">
        <h1>Reviews</h1>
        <div class="show-review">
            <% if (reviews.length == 0) { %>
                <p>No reviews yet</p>
            <% } else { %>
                <h1 style="margin-top: 20px;">Rating : <%= rating %>
                </h1>
            <% for (var i = 0; i < reviews.length; i++) { %>
                <div class="review">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Customer ID</th>
                                <th>Review</th>
                                <th>Rating</th>
                                <th> Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= reviews[i].NAME %></td>
                                <td><%= reviews[i].DESCRIPTION %></td>
                                <td><%= reviews[i].RATING %></td>
                                <td><img src="/images/product/<%= reviews[i].REVIEW_IMAGE %>" alt="Product Image" style="width: 100px; height: 100px;"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            <% } %>
            <% } %>
        </div>
        </div>

    <script>
        async function addtocart(id){
            // var form = await document.createElement('form');
            // form.method = 'post';
            // form.action = '/user/<%= userid %>/addCart/'+id;
            
            // document.body.appendChild(form);
            // form.submit();
            await fetch('/user/<%= userid %>/addCart/'+id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id: id})
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.success==true){
                    alert('Added to cart');
                }
                else{
                    alert('Failed to add to cart');
                }
            });
        }
        
        var wl_link= '/user/<%= userid %>/wishlist';
        fetch('/user/<%= userid %>/wishlistCount/<%= product[0].PRODUCT_ID %>', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
        .then(data => {
            console.log(data);
            wl_btn= document.getElementById('wl-btn');
            if(data.WISHLIST_COUNT>0){
                wl_btn.innerHTML= 'Remove from wishlist';
                wl_link= '/removeWishlist/<%= userid %>/<%= product[0].PRODUCT_ID %>';
            }
            else{
                wl_btn.innerHTML= 'Add to Wishlist';
                wl_link= '/user/<%= userid %>/wishlist';
            }
        });



        async function addtowishlist(id){
            // var form = await document.createElement('form');
            // form.method = 'post';
            // form.action = '/user/<%= userid %>/addWishlist/'+id;
            
            // document.body.appendChild(form);
            // form.submit();
            await fetch(wl_link, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(
                    {
                        productid: id
                    })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.success==true){
                    var wl_btn= document.getElementById('wl-btn');
                    wl_btn.innerHTML= 'Add to Wishlist';
                    wl_link= '/user/<%= userid %>/wishlist';
                    console.log('Added to wishlist');
                }
                else{
                    var wl_btn= document.getElementById('wl-btn');
                    wl_btn.innerHTML= 'Remove from wishlist';
                    wl_link= '/removeWishlist/<%= userid %>/'+id;
                    console.log('Removed from wishlist');



                }
            });
        }
    </script>

    <style>
        .show-review-container{
            margin-top: 50px;
        }
        .show-review{
            display: flex;
            flex-direction: column;
        }
        .review{
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }



    </style>
</body>

</html>
