<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/ProfileStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>User Profile</title>

</head>

<body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <div class="container-fluid" class = "page-limit">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <!-- <div class="col-md-3">
                            <img src="../images/UserProfile/account.png" alt="Profile Picture" class="img-fluid rounded-circle profile-picture">
                        </div> -->

                        <li class="nav-item">
                            <a class="nav-link active" href="/home/<%= userID%>">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Order History
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Wishlist
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Favourite Products
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Favourite Shops
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Change Password
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Your Profile</h1>
                </div>


                <!-- <div class="row">
                    <div class="col-md-6">

                        <h3>Personal Information</h3>
                        <p><strong>Name:</strong> John Doe</p>
                        <p><strong>Email:</strong> john.doe@example.com</p>
                        <p><strong>Phone Number:</strong> 01919721621 </p>
                        <p><strong>Address:</strong> 123 Main St, Cityville</p>
                        <p><strong>Gender:</strong> Male </p>
                        <p><strong>Postal Code:</strong> 1234</p>
                        <p><strong>Date of Birth:</strong> 19 /1/ 2002 </p>

                    </div>
                </div>

                <button type="button">Edit Information</button> -->

                <div class="row">
                    <div class="col-md-6">
                        <h3>Personal Information</h3>
                        <form id="profileForm" action="/user/<%= userID %>" method="post" enctype="application/x-www-form-urlencoded">

                            <div class="form-group">
                                <label for="name"><strong>Name:</strong></label>
                                <input type="text" class="form-control" id="name" name="name" value="<%= Name %>" readonly>
                            </div>

                            <div class="form-group">
                                <label for="email"><strong>Email:</strong></label>
                                <input type="email" class="form-control" id="email" name ="email" value="<%= email %>" readonly>
                            </div>

                            <div class="form-group">
                                <label for="phone"><strong>Phone Number:</strong></label>
                                <input type="tel" class="form-control" id="phone"  name = "phone" value="<%= Phone %>" readonly>
                            </div>

                            <div class="form-group">
                                <label for="address"><strong>Address:</strong></label>
                                <input type="text" class="form-control" id="address" value="BUET" readonly>
                            </div>
                            <!-- Add more form fields as needed -->
                
                            <button type="button" class="btn btn-primary" id="editBtn">Edit Information</button>
                            <button type="submit" class="btn btn-success d-none" id="saveBtn">Save Changes</button>
                        </form>
                    </div>
                </div>

            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

</body>

<script>
    $(document).ready(function () {
        // Edit Information button click event
        $("#editBtn").on("click", function () {
            // Enable editing
            $("input[readonly]").prop("readonly", false);
            
            // Show Save Changes button and hide Edit Information button
            $("#saveBtn").removeClass("d-none");
            $(this).addClass("d-none");

        });

        $("#saveBtn").on("click", function () {
            // Submit the form when Save Changes button is clicked

            $("#profileForm").submit();
        });

        // Save Changes button click event
    });

</script>

</html>
